@use "../../variables" as *;

.footer {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(1rem);
  justify-content: space-between;
  max-width: 100vw;
  max-height: 30vh;
  text-align: center;
  background-color: $headerColor;
}

.footerLogo {
  margin: 1rem 0;
  width: 10rem;
  @media screen and (max-width: $sm-min) {
    margin-left: 1rem;
  }
}
.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // margin: 0 6rem;
  gap: 0.2rem;
  @media screen and (max-width: $sm-min) {
    margin: 0 1rem;
  }
}

.HomeButtonContainer {
  display: flex;
  flex-direction: row;

  gap: 1px;
  align-items: center;
  width: 100vw;
}
